@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px !important;
}

@layer base {
  @font-face {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/PlusJakartaSans-Medium.ttf) format("ttf");
  }

  @font-face {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/PlusJakartaSans-Medium.ttf) format("ttf");
  }
}
