@tailwind components;

@layer components {
  .sect-empty {
    @apply h-[390px] w-auto overflow-hidden bg-primary-slate900;

    &__image {
      @apply mx-auto mb-5 mt-8 h-48 w-48;
    }

    &__title {
      @apply text-center text-xl text-primary-white;
    }

    &__desc {
      @apply mx-auto w-[300px] text-center text-primary-slate300;
    }
  }
}
